<h1>メニュー選択画面</h1>

メニューを選択してください
<% for (let i = 0; i < menus.length; i++) { %>
  <div class="menu border">
    <table>
      <tr><th>メニュー名</th><td><%= menus[i].name %></td></tr>
      <tr><th>価格</th><td><%= menus[i].price %>円</td></tr>
      <tr><th>所要時間</th><td><%= 30 * menus[i].unitNum %>分</td></tr>
      <tr><th>施術可能スタッフ</th>
        <% for (let j = 0; j < menus[i].staffs.length; j++) { %>
          <td><%= menus[i].staffs[j].name.last + menus[i].staffs[j].name.first %></td>
        <% } %>
      </tr>
      <tr><td><a href="/books/staffs?menu=<%= menus[i]._id %>"><button>このメニューを選ぶ</button></a></td></tr>
    </table>
  </div>
<% } %>