<h1>メニュー一覧ページ</h1>
<% for (let i = 0; i < menus.length; i++) { %>
  <div class="menu border">
    <table>
      <tr><th>メニュー名</th><td><a href="/menus/<%= menus[i]._id %>"><%= menus[i].name %></a></td></tr>
      <tr><th>価格</th><td><%= menus[i].price %></td></tr>
      <tr><th>コマ数</th><td><%= menus[i].unitNum %></td></tr>
      <tr><th>施術可能スタッフ</th>
        <% for (let j = 0; j < menus[i].staffs.length; j++) { %>
          <td><%= menus[i].staffs[j].name.last + menus[i].staffs[j].name.first %></td>
        <% } %>
      </tr>
    </table>
  </div>
<% } %>
